p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 510;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: 520;
    font-size: 30;
}

body {
    background-color: bisque;
}

:visited {
    color: aqua;
}

.center {
    text-align: center;
}

button {
    background-color: rgb(216, 144, 73);
    margin-top: 1%;
    margin-left: 6%;
    margin-right: 0%;
    margin-bottom: 0%;
    outline-color: aliceblue;
    border-color: rgb(180, 187, 187);
    border-radius: 8px;
    outline-style: none;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 1px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: azure;

}

li {
    list-style-type: none;
    color: rgb(75, 58, 35);
}

img {
    border-radius: 8px;
}

.x2 {
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}

.x5 {
    position: relative;
    float: right;
    top: 0;
    margin-top: 10px;
    margin-right: 15%;

}

.x6 {
    margin-left: 0%;
}

.x7 {
    background-color: peachpuff;
    border-radius: 20px;
    outline-color: rgb(248, 202, 161);
    text-align: left;
    margin-top: 7%;
    margin-left: 6%;
    margin-right: 12%;
    padding: 20px;

}

h4 {
    color: peru;
}

.obg1 {
    background-color: peachpuff;
    border-radius: 20px;
    outline-color: rgb(248, 202, 161);
    text-align: left;
    height: min-content;
    width: 435px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    font-size: 30px;
    margin-left: 6%;
    padding: 20px;
    margin-top: 6%;
}

.r2 {
    background-color: peachpuff;
    border-radius: 20px;
    outline-color: rgb(248, 202, 161);
    text-align: left;
    height: min-content;
    width: 435px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    font-size: 30px;
    margin-left: 6%;
    padding: 20px;
}

.img1 {
    position: relative;
    float: right;
    top: 0;
    margin-top: 0;
    margin-right: 15%;

}